## -------------------- ##
## START OF .ENV
## All Information in .env is PRIVATE
## Please Follow the Documentation on the GitHub Repo (COMING SOON)
## ! ZERO INFORMATION WILL BE SAVED OR SHARED IN THE BACK END I WILL NOT STEAL YOUR DATA !
## -------------------- ##

# Database Configuration
DB_HOST="localhost" # Default: "localhost"
DB_PORT="3306" # Default: "3306"
DB_DATABASE="kitchen_inventory" # Default: "kitchen_inventory"
DB_USER="root" # Default: "root"
DB_PASSWORD="" # Default: ""